.tasks {
  width: 20.4375rem;
  height: 3rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tasks p {
    width: 215px;
}
.tasks .circle{
    margin-left: 1rem;
}

.tasks .cross{
}
